/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
	width: 100%;
}

textarea {
	color: black;
	padding: 2em;
}

li {
	list-style: none;
}

body {
  font-family: 'Roboto';
}

h1 {
	font-family: 'Quicksand'
}

.flash-success {
	border: 1px solid darkgreen;
	background-color: lightgreen;
	color: darkgreen;
	text-align: center;
	font-size: 1em;
	border-radius: 0.5em;
}

.flash-alert {
		border: 1px solid black;
	background-color: pink;
	color: red;
	text-align: center;
	font-size: 1em;
}


#new_user input {
	background-color: #FFCC00;
	color: white;
	margin-top: 0.5em;
}

input#user_password {
	background-color: white;
	color: black;
}

input#user_email {
	background-color: white;
	color: black;
}

input#user_name {
	background-color: white;
	color: black;
}

input#user_password_confirmation {
	background-color: white;
	color: black;
}



.submit_btn {
	background-color: green;
	color: white;
}

input.submit_btn {
		background-color: #FFCC00;
	color: white;
	margin-top: 0.5em;
}



.col-md-6 h1 {
	text-align: center;
	font-size: 5em;
	width: 12em;

}

.sign_up {
	text-align: center;
	margin-top: 6em;
	font-size: 2em;


}


 .col-md-6 {
 	text-align: center;

 }














